/*
Project
*/

.listing-heading {
  @apply text-md lg:text-lg font-primary font-bold uppercase;
}

.listing-date {
  @apply text-md lg:text-lg font-primary uppercase font-extralight;
}

.listing-location {
  @apply text-md font-secondary font-extralight;
}

.media-item {
  width: 100%;
  margin-bottom: 2vw;
}

.video-container button {
  transition: opacity 0.3s;
  pointer-events: auto;
}

.video-container.video-started button {
  opacity: 0;
  pointer-events: none;
}

.video-container button svg {
  width: 5rem;
  position: relative;
}

/*
Project (LG)
*/

@media (min-width: theme('screens.lg')) {
  .video-container button:hover svg path {
    fill: theme('colors.cream');
    stroke: theme('colors.cream');
  }
}
