html {
  scrollbar-color: var(--color-text) var(--color-bg);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 5px;
}
